{
  "action": "compute-prior",

  "energy-max-norm": true,
  "lexicon-path": "examples/config/lexica/initial.lex",

  "corpus":       "corpora/corpus_train.json",
  "audio-path":   "data/audio/full/",
  "audio-format": "sph",
  "feature-path": "data/features/full/",
  "normalization-path": "data/normalization/Normalization_full.bin",

  "sample-rate":    8000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "batch-size": 64,
  "context-frames": 1,
  "cv-size": 0.05,
  "target-file": "examples/alignments/alignment-4-0.dump",
  "load-nn-from": "examples/models/nn/2/",
  "prior-file": "examples/models/nn/2/prior",

  "layers" : [
    { "type": "feed-forward", "layer-name": "ff1",    "num-outputs": 50, "input": ["data"], "nonlinearity": "relu" },
    { "type": "feed-forward", "layer-name": "ff2",    "num-outputs": 50, "input": ["ff1"],  "nonlinearity": "relu" },
    { "type": "output",       "layer-name": "output", "num-outputs": 199, "input": ["ff2"] }
  ]
}
