{
  "action": "recognize",

  "energy-max-norm": true,
  "max-approx": true,
  "write-old-format" : false,

  "corpus":       "corpora/corpus_test_500.json",
  "lexicon-path": "examples/config/lexica/initial.lex",
  "audio-path":   "data/audio/full/",
  "audio-format": "sph",
  "feature-path": "data/features/full/",
  "normalization-path": "data/normalization/Normalization_full.bin",

  "sample-rate":    8000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "tdp-loop": 5.0,
  "tdp-forward": 0.0,
  "tdp-skip": 5.0,

  "am-threshold":     100.0,
  "word-penalty":     70.0,
  "lookahead":        false,
  "lookahead-scale":  0.0,

  "load-mixtures-from": "examples/models/gmm/iter-4.mix"
}
