{
  "action": "train",

  "energy-max-norm": true,
  "max-approx": true,
  "write-old-format" : false,
  "write-linear-segmentation": false,
  "realign": true,

  "corpus":       "corpora/demo_corpus.json",
  "lexicon-path": "config/initial.lex",
  "audio-path":   "data/audio/",
  "audio-format": "sph",
  "feature-path": "data/features/",

  "sample-rate":    8000,
  "window-shift":     10,
  "window-size":      25,
  "dft-length":     1024,
  "n-mel-features":   15,
  "n-features-file":  12,
  "n-features-first": 12,
  "n-features-second": 1,
  "deriv-step":        3,

  "tdp-loop": 0.0,
  "tdp-forward": 0.0,
  "tdp-skip": 0.0,

  "min-obs":        1,
  "num-splits":     3,
  "num-aligns":     1,
  "num-estimates":  10,
  "num-max-aligns": 1,
  
  "pruning-threshold":     200.0,

  "mixture-path": "iter-",
  "alignment-path": "alignments/alignment-",
  "training-stats-path": "am_scores.data",
  "normalization-path": "data/Normalization.bin" 
}
